<%  include partials/header %>
	<script type="text/javascript">
	function setDefaultImage(source){
        var badImg = new Image();
        badImg.src = "https://ubuntuincident.files.wordpress.com/2011/09/tubi.png?w=150&h=150";
        var cpyImg = new Image();
        cpyImg.src = source.src;

        if(!cpyImg.width)
        {
            source.src = badImg.src;
        }

    }


    function onImgError(source){
        source.src = "https://ubuntuincident.files.wordpress.com/2011/09/tubi.png?w=150&h=150";
        source.onerror = ""; 
        return true; 
    }
	</script>
	<div class="container">
		<div class="row">
			<div class="col-lg-3" id="leftColumn">
				<img id="profilePic" src="<%= "/profileimages/" + user.username  + ".jpg" %>" onerror='onImgError(this);' onLoad='setDefaultImage(this);'>
				<p class="personinfo"><%= user.fullname %></p>
				<p></p>
				<p class="personinfo"><strong>Branch:</strong><%= user.branch %></p>
				<p class="personinfo"><strong>Year: </strong><%= user.year %> Year</p>
				<p class="personinfo"><strong>Username: </strong><%= user.username %></p>
				<p class="personinfo"><a href="<%= user.github %>">Visit Github Profile</a></p>
				<hr>
				<p>Upload New Profile Picture</p>
				<form enctype="multipart/form-data" method="POST" action="/profileimg">
					<input type="file" name="profileImg">
					<p></p>
					<button class="btn btn-dark" type="submit">Submit </button>
				</form>
			</div>
			<div class="col-lg-9" id="rightColumn">
	    	<table>
			<thead class="container">
				<tr class="row">
					<th class="col-lg-1 col-md-1"></th>
					<th class="col-lg-10 col-md-7" id="subjectTH">Subject</th>
					<th class="col-lg-1 col-md-3"></th>
				</tr>
			</thead>

			<tbody>
				<tr class="row">
					<td class="col-lg-1 col-md-1 dateTD"><p>15</p><p>Dec</p></td>
					<td class="col-lg-10 col-md-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo at lectus in dapibus. Suspendisse potenti. Nulla in blandit nisi. Maecenas fermentum eros at lectus elementum, vitae tristique erat efficitur.</td>
					<td class="col-lg-1 col-md-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">97</p>
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 col-md-1 dateTD"><p>11</p><p>Dec</p></td>
					<td class="col-lg-10 col-md-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et justo viverra, mollis leo non, molestie mi. Fusce est augue, dictum eu malesuada et, mollis id sem. Nullam et ante et dui suscipit lobortis eu eget ipsum. Maecenas vel feugiat.</td>
					<td class="col-lg-1 col-md-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">135</p>	
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 col-md-1 dateTD"><p>14</p><p>Nov</p></td>
					<td class="col-lg-10 col-md-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut risus ac.</td>
					<td class="col-lg-1 col-md-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">11</p>
					</td>
				</tr>
				<tr class="row">
					<td class="col-lg-1 col-md-1 col-xs-1 dateTD"><p>10</p><p>Sep</p></td>
					<td class="col-lg-10 col-md-7 col-xs-7 subjectTD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel erat eu eros aliquam pulvinar. Cras aliquam justo ac eros egestas, nec mollis libero sollicitudin. Curabitur eu rutrum lorem. Duis quis odio eget purus mollis viverra id in arcu. Cras sed semper dui. Morbi quis tincidunt ex. Sed ut mauris.</td>
					<td class="col-lg-1 col-md-1 col-xs-1 praiseTD">
						<p class="praiseIcon"><i class="fas fa-award"></i></p>
						<p class="praiseNumber">225</p>
					</td>
				</tr>
			</tbody>

			</table>
			</div>
		</div>
	</div>
	<div class="container" id="createPost">
		<a class="btn btn-dark btn-lg" id="addp" href="/addpost" role="button">Create Post</a>
	</div>
<%  include partials/footer %>
